body {
}
.rcorners1 {
    border-radius: 25px;
    background: #DFF4F8;
    vertical-align : middle;    
    padding-left:5px;
    padding-right:5px;
    padding-top:auto;
    width:50%;
    height:auto;
    border:1px;
}
.rcorners2 {
    border-radius: 25px;
    background: #DFF4F8;
    vertical-align : middle;    
    padding-left:5px;
    padding-right:5px;
    padding-top:auto;
    width:50%;
    height:120px;
    align:center;    
    border:1px;
}
 .search_list { 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    width: 275px; 
 } 