<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="altitudeSoftware" type="Altitude.ASTools.Config.ConfigReader,Altitude.ASTools.Config"/>
  </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <altitudeSoftware>
    <asTools>
      <tracer>
        <enabled>true</enabled>
        <traceLevel>Debug</traceLevel>
        <maxStackDepth>10</maxStackDepth>
        <maxBytes>30MB</maxBytes>
        <maxFiles>10</maxFiles>
        <traceFile>C:\Debug\DotNetApi.log</traceFile>
        <compress>false</compress>
      </tracer>
    </asTools>
    <integrationServer>
      <!-- Set trace traceEnabled="true" to enable trace logging -->
      <traceEnabled>true</traceEnabled>
      <!-- Virtual directories of the Integration Servers used to login the agents using a round robin algorithm -->
      <integrationServers>
        <virtualDir>http://localhost/uAgentWeb8</virtualDir>
      </integrationServers>
      <eventConnection>
        <!-- Maximum number of event connections established to receive events from the IntegrationServer. -->
        <!-- <maxConnections>1</maxConnections> -->
        <!-- Maximum duration of the internal WaitForEvent method invocation. This method returns when there is 
                     one event to propagate from the IntegrationServer to the Api side, or when the configured amount of 
                     time expires. This configuration is used to avoid a timeout on the WaitForEvent invocation. The value 
                     should be less than the receive timeout of the used ApiServive binding. The default is "00:01:00". -->
        <!-- <waitForEventTimeout>00:01:00</waitForEventTimeout> -->
      </eventConnection>
      <apiService>
        <!-- End point used to access the Integration Server web service. This configuration must match one of configured end points in the <system.serviceModel>\<client> section below -->
        <endpointConfigurationName>BasicHttpBinding_IApiService</endpointConfigurationName>
      </apiService>
    </integrationServer>
  </altitudeSoftware>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApiService" bypassProxyOnLocal="true" maxBufferSize="90048576" maxReceivedMessageSize="90048576" sendTimeout="00:10:00">
          <readerQuotas maxStringContentLength="1048576" maxArrayLength="90048576"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApiService" contract="Altitude.IntegrationServer.ApiService.IApiService" name="BasicHttpBinding_IApiService"/>
    </client>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="512"/>
    </connectionManagement>
  </system.net>
  <appSettings>
    <add key="AsstSrv" value="192.168.1.135:1500"/>
    <add key="site" value="Local"/>
    <add key="RecordingPath" value="http://192.168.1.135/Recording/"/>
    <add key="MultiplayRecordingPath" value="http://192.168.1.135/MultiplayRecording/"/>
    <add key="WebSitePath" value="\RecordingViewerV8\"/>
    <add key="RecordingForPlay" value="C:\DownloadRecording\"/>
    <add key="DownloadFolder" value="C:\DownloadRecording\"/>
    <add key="Debug" value="C:\Debug\RecordingLogs\"/>
    <add key="ARDBName" value="AR8"/>
    <add key="codacname" value="gsm"/>
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>